@CHARSET "UTF-8";

#sso_menu {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  text-align:center;
  margin-left:auto;
  position:fixed;
  right: $right$;
  top: $top$;
  left: $left$;
  bottom: $bottom$;
  cursor:pointer;
  min-width: 120px;
  margin: 5px;
  z-index: 16777270; /** max-1 on safari 3, 2147483647 for all others browsers : http://stackoverflow.com/a/25461690 **/
}

#sso_user {
  padding: 2px 5px;
  background-color: $userBgcolor$;
  color: $userColor$;
  border-radius: 10px 10px 0px 0px;
}

#sso_menu ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display:none;
  border:1px solid black;
  color: $menuColor$;
  background-color: $menuBgcolor$;
  cursor:auto;
  z-index: 16777271; /** max on safari 3, 2147483647 for all others browsers : http://stackoverflow.com/a/25461690 **/
}

#sso_menu li {
  padding:2px;
}

#sso_menu:hover ul {
  display:block;
}

#sso_menu a:link {
	background-color: transparent;
}

#sso_menu hr {
	width: auto;
	color:grey;
	border: 1px inset;
}

#sso_menu li a {
  text-decoration:none;
  color: $menuColor$;
  display:inline-block;
  width:100%;
}

#sso_menu li:hover {
  background-color:$menuBgHover$;
  font-weight: bold;
}

#sso_menu li:hover a {
  color: $menuHover$;
}

#sso_menu li.separator {
  margin-top:-5px;
  margin-bottom:-5px;
}
#sso_menu li.separator:hover {
  background-color:inherit;
}