<IfModule mod_version.c>
	<IfVersion >= 2.4>
		Require all denied
	</IfVersion>
	<IfVersion < 2.4>
		Deny from all
	</IfVersion>
</IfModule>

<IfModule !mod_version.c>
	<IfModule mod_authz_core.c>
		Require all denied
	</IfModule>
	<IfModule !mod_authz_core.c>
		Deny from all
	</IfModule>
</IfModule>
